{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="home-wrapper">
    <h1 id="main-title" class="glow">Musicphile,</h1>
    <h2>the place to discover new music.</h2>
    <h3>Musicphile is the place to dive deeper into your Spotify account. It lets you see statistics and insights about your listening habits..</h3>
</div>
<div class="start-btn">
    <button><a href="/register">Register</a></button>
    <button><a href="/login">Login</a></button>
</div>
{% endblock %}